.DS_Store
Development/front_end/flutter_project/macos/Runner/AppDelegate.swift
Development/back_end/.idea/back_end.iml
Development/back_end/.idea/misc.xml
Development/back_end/.idea/modules.xml
Development/back_end/.idea/vcs.xml
Development/front_end/flutter_project/pubspec.lock
.idea/
Development/back_end/Content-Container/.idea/
Development/website/
Development/website/WordPress-DB/ib_logfile0
Development/website/WordPress-DB/ibdata1
Development/website/WordPress-DB/ibtmp1
Development/website/WordPress-DB/wordpress/wp_options.ibd

back_end/Content-Container/.idea/
Development/front_end/flutter_project/ios/Flutter/Debug.xcconfig
*.xcconfig
Development/front_end/flutter_project/ios/Podfile
Development/front_end/flutter_project/macos/Flutter/GeneratedPluginRegistrant.swift
Development/front_end/flutter_project/macos/Podfile
Development/front_end/flutter_project/macos/Podfile.lock
Development/front_end/flutter_project/macos/Runner.xcodeproj/project.pbxproj
Development/front_end/flutter_project/macos/Runner.xcworkspace/contents.xcworkspacedata
Development/front_end/flutter_project/ios/Runner.xcodeproj/project.pbxproj
Development/front_end/flutter_project/ios/Runner.xcworkspace/contents.xcworkspacedata
.DS_Store
