.DS_Store
Development/front_end/flutter_project/macos/Runner/AppDelegate.swift
Development/back_end/.idea/back_end.iml
Development/back_end/.idea/misc.xml
Development/back_end/.idea/modules.xml
Development/back_end/.idea/vcs.xml
Development/front_end/flutter_project/pubspec.lock
/Development/back_end/WordPress-Container/wp-content/*
/Development/back_end/WordPress-DB/*
.idea/
back_end/Content-Container/.idea/
